<!--
  Generated template for the GridPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Grid
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col class="micol" col-12 col-md-6 col-lg-3 col-xl-3>
        1 of 4
      </ion-col>
      <ion-col class="micol"  col-12 col-md-6 col-lg-6 col-xl-3>
        2 of 4
      </ion-col>
      <ion-col class="micol"  col-12 col-md-6 col-lg-3 col-xl-3>
        3 of 4
      </ion-col>
      <ion-col class="micol"  col-12 col-md-6 col-lg-12 col-xl-3>
        4 of 4
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
