<!--
  Generated template for the ItemDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Item Detail
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <h1>{{item}}</h1>
</ion-content>
