<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item tappable routerLink="/about" routerDirection="root">
                <ion-icon slot="start" name="contacts" ></ion-icon>
                <ion-label>
                  About
                </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item tappable routerLink="/navegacion" routerDirection="root">
              <ion-icon slot="start" name="desktop" ></ion-icon>
              <ion-label>
                Navegacion
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item tappable routerLink="/ruta-parametro/param" routerDirection="root">
              <ion-icon slot="start" name="desktop" ></ion-icon>
              <ion-label>
                Ruta con parametro
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item tappable routerLink="/toolbar" routerDirection="root">
              <ion-icon slot="start" name="desktop" ></ion-icon>
              <ion-label>
                Toolbar
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
