<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mostrar Partido
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-back-button defaultHref="/partidos">Volver</ion-back-button>
<ion-card *ngIf="partido">
  <img src="http://cursosdedesarrollo.com/pactometro/img/{{partido.imagen}}">
  <ion-card-title>Partido: {{partido.nombre}}</ion-card-title>
  <ion-card-subtitle>Diputados: {{partido.dipu}}</ion-card-subtitle>
</ion-card>
</ion-content>
