<ion-header>
  <ion-toolbar>
    <ion-title>
      Modal
    </ion-title>

  </ion-toolbar>
</ion-header>



<ion-content padding>
    <ion-button (click)="closeModal()">Close</ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      Modal Footer
    </ion-title>

  </ion-toolbar>
</ion-footer>
