<!--
  Generated template for the FormularioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form #myForm="ngForm" (submit)="logForm()">
    <ion-item>
      <ion-label>Todo</ion-label>
      <ion-input #title type="text" [(ngModel)]="todo.title"
                 name="title" required=""></ion-input>
      <div [hidden]="title.valid || title.pristine" >
        Title es requerido
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea [(ngModel)]="todo.description"
                    name="description"></ion-textarea>
    </ion-item>
    <ion-button [disabled]="myForm.invalid" type="submit" block>Add Todo</ion-button>
  </form>
  <ion-list inset>
    <ion-item *ngFor="let item of todos" (click)="itemSelected(item)">
      {{ item.title }}
    </ion-item>
  </ion-list>
</ion-content>
